.newCompanyPage {
  width: 100%;
  padding-top: 20px;
}
.newCompanyPage .newCompany {
  width: 80%;
  margin: auto;
}

.newCompanyPage .newCompany .header {
  height: 50px;
  text-align: center;
  line-height: 50px;
  background: #1a1a75;
  font-weight: 600;
  color: white;
}

.newCompanyPage .newCompany .fields > * {
  width: 50%;
}

.newCompanyPage form p {
  color: black;
}

.newCompanyPage form .toggleEditCategory {
  margin-bottom: 10px;
}

.companyContactPage
  .categoryManagement
  .ReactTable
  .rt-td
  div.familyTreeIndicator,
.companyContactPage
  .categoryManagement
  .ReactTable
  .rt-td
  div.familyTreeIndicator
  ~ div {
  display: inline-block;
}

.companyContactPage .categoryManagement .ReactTable {
}

.ReactTable .rt-td {
  color: black;
}

.ReactTable .rt-td div.familyTreeIndicator,
.ReactTable .rt-td div.familyTreeIndicator ~ div {
  display: inline-block;
  margin-left: 5px;
}

.ReactTable .rt-td div.familyTreeIndicator {
  margin-left: 5px;
  border-left: 1px solid gray;
  border-bottom: 1px solid gray;
  position: relative;
  top: -5px;
}
